<app-header />
<main>
    <h2>From the article "The 100 Best Movies Of All Time":</h2>
    <article>
        <p>"What are the 100 best movies of all time?" It's a hell of a question to ask, and an even harder one to answer.
            After all, there are all kinds of reasons why individual films stand the test of time, connecting with viewers on
            levels both personal and universal. The very best exemplars of the form conjure indelible images, evoke overwhelming
            emotions, tell unforgettable stories, and bring us characters who - love 'em or loathe 'em - we truly believe
            in. And, let's face it, there's a heck of a lot of films out there! Ever since the movies began well over a century
            ago, they have been finding new and ever-edifying ways to, well, move us - to joy, to laughter, to fear, to tears, to
            the edges of our seats and to profound experiences that resonate through the years. From the misadventures of
            Peruvian bears to the epic quests of almighty fellowships, from painterly whisper-quiet period romances to subversive
            superhero blockbusters, and from awe-inspiring animated adventures to singular stories about the human
            experience hailing from all around the world, to try and reach any kind of consensus on the best movies of all time is nigh-on impossible.</p>
        <p>And so, in creating this list of the 100 best movies of all time, Empire enlisted our readers' help, asking you
            to share your picks for the movies that have comforted, challenged, entertained and inspired you most. Films that
            blow your mind, help you see things from a new perspective, and that continue to shape cinema as we know it today.
            Films that, above all else, make you feel something. Combining reader votes with critics' choices from Team Empire, here we have it. Use the searchbar above to explore the list.
        </p>
    </article>
</main>